<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'stars'}}Stars{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      <li>{{#link-to 'oopses'}}Oopses{{/link-to}}</li>
    </ul>
  </nav>
  <h1>About StarChart</h1>
  <p>
    This is an online startchart fot keeping track of stars and oopses for your
    childs behavior.  It has been adapted from the star chart they use at school
    to be used at home as well and now on online.
  </p>

</div>
{{outlet}}
