<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'stars'}}Stars{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      <li>{{#link-to 'oopses'}}Oopses{{/link-to}}</li>
    </ul>
  </nav>
  <h1>Contact</h1>

  <p>want to get in touch?</p>
  <ul>
    <li>Phone: 1-800-starchart</li>
    <li>Email: <a href="wesleywhitney@gmail.com">wesleywhitney@gmail.com</a>.</li>
  </ul>

</div>
{{outlet}}
