<div class="container">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'stars'}}Stars{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      </ul>
    </nav>
  <h1>Stars</h1>

  <ul>
    <li><a href="#">did homework</a></li>
    <li><a href="#">took bath</a></li>
    <li><a href="#">washed dishes</a></li>
  </ul>

  <!-- {{#each star in model}}
    {{star.name}}
  {{/each}} -->
</div>
